@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Lora:ital,wght@0,400..700;1,400..700&family=Pacifico&family=Poetsen+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-wrap: pretty;
    /* border: 0.1rem solid black; */
}

html{
    font-size: 62%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body{
    background: url(./assets/images/background.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    font-family: "";
    font-family: "Lora";
    height:100vh;
}

:root{
    --primaryColor: #ffffff;
    --secondaryColor: burlywood;
    --tertiararyColor: #212529;
    --ffprimary: "Dancing";
    --ffsecondary: "Lora";
}

.screensize{
    max-width: 600px;
    margin: auto;
}

.grid{
    display: grid;
    grid-template-columns: 1fr;
    padding: 1rem;
    margin: 1rem;
}

.dflex-col{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1{
    font-size: 4.5rem;
    font-family: "Dancing";
    font-weight: 800;
    text-align: center;
    padding: 2rem;
    color: var(--secondaryColor);
}

h2{
    font-family: "Lora";
    font-size: 3rem;
    text-align: center;
    padding: 4rem;
}

i{
    color: var(--primaryColor);
    font-size: 8rem;
}

input,
label{
    font-family: "Lora";
    font-size: 2.5rem;
    font-weight: 500;
    color: burlywood;
    padding: 0.7rem;
    margin: 0.3rem;
    outline: none;
    border-radius: 1rem;
}

input{
    background-color: var(--primaryColor);
    box-shadow: 0 0 0.8rem rgba(21, 22, 23, 0.6);
}

/* input:active{
    border: 0.1rem solid #09b1ba;
} */

button{
    font-family: "Lora";
    font-size: 1.8rem;
    font-weight: 550;
    color: burlywood;
    cursor: pointer;
    padding: 0.8rem 3rem 0.8rem 3rem;
    margin-top: 2rem;
    background-color: rgb(4, 139, 149);
    border-radius: 1rem;
}
button:hover{
    background-color: burlywood;
    color: #022b2b;
}

.userPage{
    /* background-color: #09b1ba; */
    padding: 2rem;
    border-radius: 3rem;
    backdrop-filter: blur(0.2rem);
    /* margin-top: 2rem; */
}

.loginPage{
    background-color: whitesmoke;
    border-radius: 4rem;
    margin-top: 6rem;
    padding: 6rem 3rem 6rem 3rem;
    box-shadow: 0 0 0.8rem rgba(21, 22, 23, 0.6);
}

/* ::::: RESPONSIVE DESIGN DEVICE SIZES ::::: */
@media (max-width: 576){
    .userPageContainer{
    }
    input,
    label{
    font-size: 1.6rem;
    padding: 1rem;
    margin: 0.3rem;
    border-radius: 0.7rem;
    }
}

