@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Lora:ital,wght@0,400..700;1,400..700&family=Pacifico&family=Poetsen+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-wrap: pretty;
    /* border: 0.1rem solid black; */
}

html{
    font-size: 62%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body{
    background: url(./assets/images/background.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    font-family: var(--ffprimary);
    font-family: var(--ffsecondary);
    height:100vh;
}

:root{
    --primaryColor: #ffffff;
    --secondaryColor: #212529;
    --tertiararyColor: #fdfeff37;
    --darkColor: rgb(4, 139, 149);
    --ffprimary: "Dancing";
    --ffsecondary: "Lora";
}

.screensize-1{
    max-width: 1000px;
    margin: auto;
}

.screensize-2{
    max-width: 500px;
    margin: auto;
}

.grid{
    display: grid;
    grid-template-columns: 1fr;
    padding: 1rem;
    margin: 1rem;
}

.dflex{
    display: flex;
    justify-content: center;
    align-items: center;
}

.dflex-col{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h2{
    font-family: "Lora";
    font-size: 3rem;
    text-align: center;
    padding: 4rem;
}

i{
    color: var(--primaryColor);
    font-size: 8rem;
    padding: 5rem 0rem 3rem 0rem;
}

input,
label{
    font-family: "Lora";
    font-size: 2.5rem;
    font-weight: 500;
    color: var(--secondaryColor);
    padding: 0.7rem;
    margin: 0.3rem;
    border: none;
}

input{
    background-color: var(--primaryColor);
    box-shadow: 0 0 0.8rem var(--primaryColor);
}

button{
    font-family: "Lora";
    font-size: 1.8rem;
    font-weight: 550;
    color: var(--secondaryColor);
    cursor: pointer;
    padding: 1rem 3rem;
    margin-top: 3rem;
    background-color: var(--darkColor);
    border: none;
}

/* button:hover{
    background-color: var(--primaryColor);
    color: var(--secondaryColor);
} */

button:active {
    border: 0.3rem solid var(--primaryColor);
}

.userPage{
    background-color: var(--tertiararyColor);
    backdrop-filter: blur(0.2rem);
    padding: 5rem 0rem;
    border-radius: 3rem;
    border: 0.2rem solid var(--primaryColor);
    box-shadow: 0 0 0.8rem var(--primaryColor);
}

.loginPage{
    background-color: var(--primaryColor);
    border-radius: 4rem;
    padding: 6rem 3rem;
    box-shadow: 0 0 0.8rem var(--secondaryColor);
}

/* ::::: RESPONSIVE DESIGN DEVICE SIZES ::::: */
@media (max-width: 576){
    input,
    label{
    font-size: 1rem;
    padding: 0.5rem;
    border-radius: 0.7rem;
    }

    i{
        font-size: 6rem;
        padding: 3rem 0rem 1rem 0rem;
    }

    .userPage{
        margin: 6rem 0rem;
        padding: 3rem 0rem;
    }

    .loginPage{
        padding: 0;
    }
}

